<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @course.name %></h1>
  <div class="float-right">
    <%= link_to 'Edit', edit_director_course_path(@course), class: 'btn btn-primary' %>
    <%= link_to 'Delete', director_course_path(@course), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
  
  </div>
</div>

<br />

<table class="booyah-box col-10 offset-1">
	<tr>
		<col width="100">
		<th>Front 9</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
		<th>6</th>
		<th>7</th>
		<th>8</th>
		<th>9</th>
	</tr>
	<tr>
		<col width="100">
		<td>Par</td>
		<td><%= @course.par_hole_1 %></td>
		<td><%= @course.par_hole_2 %></td>
		<td><%= @course.par_hole_3 %></td>
		<td><%= @course.par_hole_4 %></td>
		<td><%= @course.par_hole_5 %></td>
		<td><%= @course.par_hole_6 %></td>
		<td><%= @course.par_hole_7 %></td>
		<td><%= @course.par_hole_8 %></td>
		<td><%= @course.par_hole_9 %></td>
	</tr>
</table>

<br />

<table class="booyah-box col-10 offset-1">
	<tr>
		<col width="100">
		<th>Back 9</th>
		<th>10</th>
		<th>11</th>
		<th>12</th>
		<th>13</th>
		<th>14</th>
		<th>15</th>
		<th>16</th>
		<th>17</th>
		<th>18</th>
	</tr>
	<tr>
		<col width="100">
		<td>Par</td>
		<td><%= @course.par_hole_10 %></td>
		<td><%= @course.par_hole_11 %></td>
		<td><%= @course.par_hole_12 %></td>
		<td><%= @course.par_hole_13 %></td>
		<td><%= @course.par_hole_14 %></td>
		<td><%= @course.par_hole_15 %></td>
		<td><%= @course.par_hole_16 %></td>
		<td><%= @course.par_hole_17 %></td>
		<td><%= @course.par_hole_18 %></td>
	</tr>
</table>
