<br />
<div class="booyah-box col-10 offset-1">
	<h1 class="text-center"><%= Course.find(@game.course).name %></h1>
  	<h1 class="text-center"><%= @game.date.strftime("%m/%d/%Y") %></h1>
  	<!-- <br /> -->
  	<div class="text-center">
		<%= link_to 'Add Players', new_director_game_gameplayer_path(@game), class: 'btn btn-primary btn-lg' %>
		<%= link_to 'Toggle', toggle_status_director_game_path(@game), class: 'btn btn-primary btn-lg' %>
		<%= link_to 'Set Team', root_path, class: 'btn btn-primary btn-lg' %>
	</div>

</div>


<br />
<table class="booyah-box col-10 offset-1">
	<tr>
		<col width="100">
		<th></th>
		<th>Hole</th>
		<% (1..9).each do |i| %>
			<th><%= i %></th>
		<% end %>
		
		<th>Front 9 <br /> Par </th>
		<% (10..18).each do |i| %>
			<th><%= i %></th>
		<% end %>
		
		<th>Back 9 <br /> Par</th>
		<% if @game.score? %>
			<th>Total Par</th>
		<% end %>

		<th></th>
		<th></th>
		<th></th>
	</tr>
	
	<tr>
		<col width="100">
		<th>Team</th>
		<th>Player/Par</th>

		<% @front9.each do |par| %>
			<th><%= par %> </th>
		<% end %>
		<th><%= @front9.sum %></th>
		<% @back9.each do |par| %>
			<th><%= par %> </th>
		<% end %>
		<th><%= @back9.sum %></th>
		<% if @game.score? %>
			<th><%= @totalpar.sum %></th>
		<% end %>
		<th>Total <br />Points</th>
		<th>Points <br />Quota</th>
		<th>Points <br />+/-</th>
	</tr>
	<% @game.gameplayers.each do |gp| %>
		<% @quota = Player.find(gp.player).start_point_quota %>
		<% @sidetot = 0 %>
		<% @tot = 0 %>
		<% @holenum = 0 %>
		<% @gamepoints = 0 %>
		<tr>
			<col width="100">
			<td></td>
			<td nowrap><%= link_to Player.find(gp.player).name, edit_director_game_gameplayer_path(gp.game_id, gp) %></td>
			<% gp.attributes.each do |attr_name, attr_value| %>
				<% if attr_value != nil %>									
					<% if attr_name.start_with?("hole_") %>
						<% @holenum += 1 %>
						<% @holepoints = get_points(@holenum, attr_value) %>
						<% @hole_return_val = hole_output(@holepoints, attr_value) %>
						<% if attr_name.start_with?("hole_9") %>
							<% @sidetot += @hole_return_val %>
							<% @tot += @hole_return_val %>
							<% @gamepoints += @holepoints %>
							<td><%= @hole_return_val %></td>
							<td><%= @sidetot %></td>
							<% @sidetot = 0 %>
						<% elsif attr_name.start_with?("hole_18") %>						
							<% @sidetot += @hole_return_val %>
							<% @tot += @hole_return_val %>
							<% @gamepoints += @holepoints %>
							<td><%= @hole_return_val %></td>
							<td><%= @sidetot %></td>
						<% else %>
							<% @sidetot += @hole_return_val %>
							<% @tot += @hole_return_val %>
							<% @gamepoints += @holepoints %>
							<td><%= @hole_return_val %></td>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			<% if @game.score? %>
				<td><%= @tot %></td>
			<% end %>
			<td><%= @gamepoints %></td>
			<td><%= @quota %></td>
			<td><%= @gamepoints - @quota %></td>
		</tr>
	<% end %>
</table>

