<!DOCTYPE html>
<html>
  <head>
    <title>Pointster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Points Game', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to 'Games', director_games_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Courses</a> -->
              <%= link_to 'Tours', director_tours_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Courses</a> -->
              <%= link_to 'Courses', director_courses_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Players</a> -->
              <%= link_to 'Players', director_players_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>

    <div id="footer">
      <div class="container">
        <b>Directors</b>
        <br />
        <%= link_to 'Add Tour', new_director_tour_path %>
        <br />
        <%= link_to 'Add Course', new_director_course_path %>
        <br />
        <%= link_to 'Add Player', new_director_player_path %>
        <br />
        <%= link_to 'Add Game', new_director_game_path %>
      </div>
    </div>
  </body>
</html>
